<h1 id="title">Stupid Coaching</h1>

<div>
  <h2 id="header">Ask your coach anything:</h2>
</div>
<div class="container">
  <form action="answer" method="get" class="form-inline">
    <div class="form-group">
      <input type="text" name="question" placeholder="" class="form-control">
      <input type="submit" value="Ask!" class="btn btn-primary">
    </div>
  </form>
</div>


